.cardContainer{
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    border:  5px solid black;
    border-radius: 19px;
    box-shadow: 16px 14px 20px #0000008c;
    transition: all 0.5s ease-in-out;
}

.cardContainer:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

.cardContainerTop {
    background-image: url('../../assets/fondoDeCarta.gif');
    background-position: center;
    background-size: 240%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.closeButton {
    position: absolute;
    right: 0%;
    padding: 0px 15px;
    border-top-right-radius: 15px;
    background-color: rgba(255, 255, 255, 0.571);
    opacity: 0;
}

.cardContainer:hover .closeButton {
    padding: 0px 15px;
    opacity: 1;
}

.closeButton:hover {
    background-color: red;
    opacity: 1;
    color: white;
    transition: 0.2s;
}

.imageContainer {
    border-radius: 50%;
    margin: 60px 0px;
}

.characterImage {
    display: block;
    border: 3px solid white;
    border-radius: 50%;
    margin: 10px 20px;
    align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.cardContainerBottom {
    background-color:whitesmoke;
    width: 346px;
    height: auto;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* .buttonPlus {
    position: relative;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgba(164, 233, 11, 0.7);
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s, transform 0.3s;
}
  
.buttonPlus::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transition: transform 0.3s;
}
  
.buttonPlus:hover {
    background-color: rgba(164, 233, 11, 0.7);
    transform: scale(1.05);
}
  
.buttonPlus:hover::before {
    transform: translate(-50%, -50%) rotate(225deg);
} */
.nameContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    /* position: static; */
    bottom: 0.8em;
    width: 100%;
    font-family: 'Get Schwifty';
    font-size: 36px;
    color: #08BAE3;
    z-index: 50;
    -webkit-text-stroke: 1px rgba(0,0,0,0.5);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.functionsBottom {
    justify-content: space-around;
    text-align: center;
    margin: 5px;
}

.favButton {
    background: transparent;
    border: 0px;
    font-size: 20px;
}

.link {
    text-decoration: none;
}

@font-face {
    font-family: 'Get Schwifty';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/3089507/get-schwifty.woff') format('woff');
  }